body {
  background-color: rgb(232, 255, 232);
}
a {
  text-decoration: none;
  color: black;
}
.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
  .profile-pic {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/*home*/
.home__container-left {
  height: 90vh;
}
.home__container-right {
  background-image: url(../public/pic/home.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.signup__container-left {
  height: 90vh;
}

.signup__container-right {
  height: 90vh;
  background-image: url(../public/pic/signup.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.profile-pic-big {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
}
/* .icon__container {
  cursor: pointer;
} */
.icon-add-pic {
  color: green;
}
.icon-online {
  transform: scale(1.5);
  color: rgb(2, 175, 2);
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-position {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*chat*/
.side-container {
  height: 85vh;
  overflow-y: scroll;
}
.messages-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
}
.message-output-title {
  position: fixed;
  color: grey;
  margin-left: 4rem;
}
.incoming-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.incoming-message div {
  flex-direction: row-reverse;
}
.incoming-message p {
  background: rgb(243, 201, 201);
  border-radius: 50px 50px 0px 50px;
  align-items: end;
  word-break: break-all;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.message p {
  background: lightgreen;
  border-radius: 50px 50px 50px 0px;
  word-break: break-all;
}

@media screen and (max-width: 500px) {
  .message p {
    font-size: 13px;
  }
  .incoming-message p {
    font-size: 13px;
  }
  h2 {
    font-size: 15px;
  }
  .list-group-item {
    font-size: 13px;
  }
  .form-control {
    font-size: 13px;
  }
}
/*emoji*/
.picker-container {
  position: relative;
  width: 200px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 0.75rem;
  background-color: yellow;
  border-radius: 50%;
}
