body {
  background-color: rgb(232, 255, 232);
}
a {
  text-decoration: none;
  color: black;
}
.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
/*home*/
.home__container-left {
  height: 90vh;
}
.home__container-right {
  background-image: url(../public/pic/home.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.signup__container-left {
  height: 90vh;
}

.signup__container-right {
  height: 90vh;
  background-image: url(../public/pic/signup.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.profile-pic-big {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
}
/* .icon__container {
  cursor: pointer;
} */
.icon-add-pic {
  color: green;
}
.form-position {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*chat*/
.messages-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
}
